<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="dbSettings" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="org.h2.Driver" />
        <property name="url" value="jdbc:h2:file:./mastermind" />
        <property name="username" value="master" />
        <property name="password" value="123" />
    </bean>

    <bean id="settingsJDBCTemplateId" class="code.db.SettingsJDBCTemplate">
        <property name="dataSource" ref="dbSettings" />
    </bean>

    <bean id="ordersJDBCTemplateId" class="code.db.OrdersJDBCTemplate">
        <property name="dataSource" ref="dbSettings" />
    </bean>

</beans>