.anchor {
    -fx-border-color: lightgrey;
}

.labelStatus {
    -fx-font-size: 10px;
}

.labelPaymentStatus {
    -fx-font-size: 10px;
}

.labelDueDate {
    -fx-font-size: 10px;
}

.labelEventDate {
    -fx-font-size: 10px;
}
